@import 'nib'
@import 'jeet'
@import 'mixins'

global-reset()

yellow = #ffd800
gray = #fafcff
gray-light = #E0E0E0
white-off = #F7F7F7
sidebar-width = 300px
fonts = 'avenir', 'myriad pro', 'helvetica neue', 'helvetica', arial, sans-serif

@import 'typography'
@import 'form'
@import 'animations'
@import 'lightbox'

th, td
  text-align: inherit
  font-weight: inherit

body
  background: #101B2B
  color: #fff

h1
  &:active { color: #ccc }
  no-select()
  font-size: 5em
  margin-top: 2em
  cursor: pointer

h2
  font-size: 3em
  font-weight: 800

.is-hidden
  display: none
