.app
  center(800px)
  background: #fff

.footer:before
  jagged-border(35px, #FAFCFF, yellow, 'top')
  position: absolute

+mobile()
  .page
    padding: 2em 1em
  .page.is-index
    padding-top: 3em
