#sidebar
  fixed: right 0 top 0
  width: sidebar-width
  background: #FFF
  bottom: 0
  padding: 1em
  box-sizing: border-box
  text-align: left

.sidebar-title
  font-weight: 600
  margin-bottom: 1em
  text-align: center
