body
  font-family: Graphik-Regular-Web
  text-rendering: optimizeLegibility
  text-align: center
  line-height: 1.4
  font-size: 16px

h1
  font-size: 4em
  text-transform: uppercase

h3
  font-size: 0.9em
  text-transform: uppercase
  display: inline-block
  padding-bottom: 0.6em
  border-bottom: 1px solid gray-light
  margin-bottom: 1.5em

p
  text-align: left

+mobile()
  body
    font-size: 13px
